html,
body {
  height: 100%;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.btn-primary{
background-color: rgb(9, 40, 75);
}
.btn-primary:hover{
  background-color: rgb(19, 56, 98);
}
